doctype html
html
    head
        include includes/header
        title Zohaib Sibte Hassan
        style(type="text/css").
            .body-container {
                font-family: 'Maven Pro', sans-serif;
                padding: 20px;
                margin: 0;
                border: 0;
                font-size: 92px;
                text-align: justify;
                vertical-align: middle;
            }

            .body-container p {
                padding: 0 0 20px 0;
                margin: 0;
            }

            a {
                color: #1976d2;
                text-decoration: none;
            }
    body
        .body-container
            p
                | hi, i am zohaib sibte hassan. 
                | i am a software engineer by profession, a doodler by hobby, and strong believer of OSS. 
            p
                a(href="resume.html") resume
                span |
                a(href="http://maxpert.tumblr.com") blog
                span |
                a(href="https://www.linkedin.com/in/zohaibsibtehassan/") linkedin
